@import "common";

.header {
  width: 100%;
  height: 88 /100rem;
  padding: 0 20/100rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index:999;
  .header-default {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 1000;
    .header-center {
      width: 100%;
      height: 100%;
      float: left;
      .header-center-box {
        height: 72/100rem;
        margin: 0 (56 + 32 + 32)/100rem;
        background: #f7f7f7;
        border-radius: 36/100rem;
        margin-top: 8 /100rem;
        position: relative;
        overflow: hidden;
        img {
          .vCenter();
          left: 92/100rem;
        }
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          padding-left: (92 + 42 + 10)/100rem;
          box-sizing: border-box;
          font-size: 30 /100rem;
          color: #333;
        }
        input::placeholder {
          color: #c9c9c9;
        }
        .header-title {
          display: none;
        }
        .header-switch {
          display: none;
        }
      }
    }
    .header-left {
      width: 56 /100rem;
      height: 56/100rem;
      float: left;
      margin-left: -100%;
      margin-top: 16/100rem;
      background: url("../images/topbar-it666-discern.png") no-repeat;
      background-size: 100% auto;
    }
    .header-cancle {
      display: none;
    }
    .header-right {
      width: 56 /100rem;
      height: 56/100rem;
      float: left;
      margin-left: -56/100rem;
      margin-top: 16/100rem;
      background: url("../images/topbar-it666-play.png") no-repeat;
      background-size: 100% auto;
    }
  }
  &.active {
    .header-center-box {
      margin-left: 0 !important;
      margin-right: (2 * 120) /100rem !important;
      img {
        left: 22/100rem !important;
      }
      input {
        padding-left: (22 + 42 + 10 ) /100rem !important;
      }
    }
    .header-cancle {
      display: inline-block;
      float: left;
      margin-left: -200/100rem;
      line-height: 88/100rem;
      a {
        font-size: 32/100rem;
        color: #333;
        font-weight: bold;
      }
    }
    .header-left {
      display: none;
    }
    .header-right {
      background: url("../images/topbar-it666-category.png") no-repeat;
      background-size: 100% auto;
    }
  }
  &.video {
    .header-left {
      background: url("../images/topbar-it666-video.png") no-repeat;
      background-size: 100% auto;
    }
  }
  &.me {
    .header-left {
      background: url("../images/topbar-it666-cloud.png") no-repeat;
      background-size: 100% auto;
    }
    .header-center {
      .header-center-box {
        background: transparent;
        img {
          display: none;
        }
        input {
          display: none;
        }
        .header-title {
          display: block;
          line-height: 72/100rem;
          text-align: center;
          font-size: 34 / 100rem;
          font-weight: bold;
          color: #333;
        }
      }
    }
  }
  &.friend {
    .header-left {
      background: url("../images/topbar-it666-add.png") no-repeat;
      background-size: 100% auto;
    }
    .header-center {
      .header-center-box {
        background: transparent;
        img {
          display: none;
        }
        input {
          display: none;
        }
        .header-switch {
          display: block;
          border: 1px solid #ffcbc8;
          width: 280 /100rem;
          height: 58 /100rem;
          border-radius: 29 / 100rem;
          margin: 0 auto;
          position: relative;
          display: flex;
          overflow: hidden;
          i {
            display: block;
            width: 140 / 100rem;
            height: 100%;
            background: #fd271b;
            border-radius: 29 / 100rem;
            position: absolute;
            top: 0;
            left: 0;
          }
          span {
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 140 / 100rem;
            height: 100%;
            line-height: 58/100rem;
            text-align: center;
            font-size: 34 /100rem;
            font-weight: bold;
            color: #fd271b;
            &.active {
              color: #fff;
            }
          }
        }
      }
    }

  }
  &.account {
    .header-left {
      background: url("../images/topbar-it666-scan.png") no-repeat;
      background-size: 100% auto;
    }
    .header-center {
      .header-center-box {
        background: transparent;
        img {
          display: none;
        }
        input {
          display: none;
        }
      }
    }
  }
  /*搜索页面*/
  .header-container {
    width: 100%;
    //height: 1150 /100rem;
    height: 87vh;
    background: #fff;
    display: none;
    .header-wrapper {
      .search-ad {
        width: 100%;
        overflow: hidden;
        padding-top: 30 /100rem;
        position: relative;
        img {
          border-radius: 20 /100rem;
        }
        span {
          position: absolute;
          top: 40 / 100rem;
          right: 20 /100rem;
          font-size: 30 /100rem;
          color: #ccc;
        }
      }
      .search-history {
        width: 100%;
        height: 125 /100rem;
        overflow: hidden;
        padding: 36 / 100rem 0;
        .history-top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          h6 {
            font-weight: bold;
            font-size: 26 / 100rem;
            color: #333;
          }
          img {
            margin-top: -12 /100rem;
            width: 56 /100rem;
            height: 56 /100rem;
          }
        }
        .history-bottom {
          width: 100%;
          white-space: nowrap;
          overflow-x: auto;
          padding-bottom: 100/100rem;
          //webkit隐藏滚动条的方式
          //&::-webkit-scrollbar{
          //  display: none;
          //}
          li {
            display: inline-block;
            font-size: 26 / 100rem;
            color: #333;
            padding: 14 /100rem 30/100rem;
            margin-right: 24 /100rem;
            border-radius: 40/100rem;
            background: #f8f8f8;
            text-align: center;
            font-weight: bold;
            margin-bottom: 20 /100rem;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
      .search-hot {
        .hot-top {
          padding-top: 36/100rem 0;
          h6 {
            font-size: 26/100rem;
            font-weight: bold;
            color: #333;
          }

        }
        .hot-bottom {
          position: relative;
          z-index: 1;
          li {
            width: 100%;
            height: 134 /100rem;
            display: flex;
            justify-content: flex-start;
            &:nth-of-type(-n+3) .hot-left {
              color: red !important;
            }
            .hot-left {
              width: 54/100rem;
              height: 100%;
              line-height: 134/100rem;
              font-size: 30/100rem;
              color: #666;
            }
            .hot-right {
              padding-top: 20 /100rem;
              p:nth-of-type(1) {
                strong {
                  font-size: 32 /100rem;
                  color: #333;
                  font-weight: bold;
                }
                span {
                  font-size: 26 /100rem;
                  color: #ccc;
                  margin: 0 15 /100rem;
                }
                img {
                  width: auto;
                  height: 32 /100rem;
                  vertical-align: top;
                }
              }
              p:nth-of-type(2) {
                font-size: 26 /100rem;
                color: #a3a2a3;
                margin-top: 5 /100rem;
              }
            }
          }
        }

      }
    }
  }

}

.footer {
  width: 100%;
  height: 98 / 100rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.95);
    li {
      text-align: center;
      margin: 0 46/100rem;
      img {
        display: block;
        width: 56 / 100rem;
        height: 56 / 100rem;
        margin-top: 10 / 100rem;
      }
      span {
        font-size: 18 / 100rem;
      }
      &.active {
        img {
          background: #fd271b;
          border-radius: 50%;
        }
        span {
          color: #fd271b;
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  .main-in {
    width: 100%;
    height: 7500/100rem;
    padding: 0 30/100rem;
    box-sizing: border-box;
    .pull-down {
      width: 100%;
      height: 88/100rem;
      position: relative;
      z-index: 1;
      img {
        .center();
      }
      svg {
        .center();
      }
    }
    .pull-up {
      width: 100%;
      height: 98 / 100rem;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24 / 100rem;
      }
    }
    .swiper-container {
      width: 690 /100rem;
      height: 266 /100rem;
      margin-top: 30 /100rem;
      border-radius: 10/100rem;
      .swiper-slide {
        position: relative;
        span {
          position: absolute;
          bottom: 0;
          right: 0;
          display: inline-block;
          padding: 5 /100rem 10/100rem;
          background: #51a2f2;
          font-size: 22 /100rem;
          color: #fff;
          border-top-left-radius: 15 / 100rem;
        }
      }
    }
    .swiper-pagination {
      .my-bullet {
        display: inline-block;
        width: 14 /100rem;
        height: 14 /100rem;
        margin: 0 6/100rem;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
      }
      .my-bullet-active {
        background: #fd271b;
      }
    }
    .nav {
      width: 100%;
      padding: 44 /100rem 0;
      ul {
        display: flex;
        li {
          margin-right: 50/100rem;
          text-align: center;
          &:last-child {
            margin-right: 0;
          }
          img {
            width: 98 /100rem;
            background: #fd271b;
            border-radius: 50%;
            margin-bottom: 20/100rem;
          }
          span {
            font-size: 22 / 100rem;
          }
          p {
            position: relative;
            i {
              .center();
              font-size: 22 /100rem;
              font-weight: bold;
              color: #fd271b;
              font-style: normal;
              padding-bottom: 10/100rem;
            }
          }
        }
      }
    }
    .category {
      border-top: 1px solid #ccc;
      width: 100%;
      .category-top {
        width: 100%;
        height: 120 /100rem;
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 34 /100rem;
          font-weight: bold;
          color: #333;
          line-height: 120 /100rem;
        }
        span {
          font-size: 26 /100rem;
          font-weight: bold;
          padding: 15/100rem 20/100rem;
          height: 66 /100rem;
          border-radius: 33/100rem;
          box-sizing: border-box;
          border: 1px solid #ccc;
          text-align: center;
          margin-top: 27 /100rem;
        }
      }
      .category-bottom {
        width: 100%;
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            width: 216 /100rem;
            margin-bottom: 40 / 100rem;
            div {
              border-radius: 15 /100rem;
              position: relative;
              overflow: hidden;
              .p1 {
                position: absolute;
                top: 10/100rem;
                right: 10/100rem;
                color: #fff;
                img {
                  vertical-align: top;
                  width: 26 / 100rem;
                  position: relative;
                  top: 6/100rem;
                }
                span {
                  font-size: 26 /100rem;

                }
              }
              .p2 {
                position: absolute;
                top: 10 /100rem;
                left: 10/100rem;
                img {
                  width: 40 /100rem;
                  height: 40 /100rem;
                  border-radius: 50%;
                  border: 1px solid #fff;
                  background: rgba(0, 0, 0, 0.5);
                }
              }
              .p3 {
                position: absolute;
                bottom: 10/100rem;
                right: 10/100rem;
                padding: 5/100rem;
                display: flex;
                img {
                  vertical-align: middle;
                  width: 40 / 100rem;
                  height: 40 / 100rem;
                  background: rgba(0, 0, 0, 0.5);
                  border-radius: 50%;
                }
                span {
                  color: #fff;
                  display: inline-block;
                  width: 150 / 100rem;
                  font-size: 24 /100rem;
                }
              }
            }
            & > p {
              margin-top: 15 /100rem;
              font-size: 26 /100rem;
              font-weight: bold;
              color: #333;
            }
            & > p:last-of-type {
              margin-top: 10 /100rem;
              font-size: 24 / 100rem;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}